<style>
  @media (max-width: 1200px) {
    .hs1-desktop-header {
      display: none;
    }
  }
</style>

<div class="hs1-desktop-header">
  {% case section.settings.header_style %}
    {% when 'style-1' %}
      {% render 'header-style-1', section: section %}
    {% when 'style-2' %}
      {% render 'header-style-2', section: section %}
    {% when 'style-3' %}
      {% render 'header-style-3', section: section %}
  {% endcase %}
</div>
{% schema %}
{
  "name": "Galiko Header",
  "settings": [
    {
      "type": "select",
      "id": "header_style",
      "label": "Header Style",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        },
        {
          "value": "style-3",
          "label": "Style 3"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Select Main Menu"
    },
    {
      "type": "textarea",
      "id": "enable_megamenu",
      "label": "Enable Megamenu",
      "default": "Spring Shop, Designers, New Arrivals",
      "info": "Spring Shop, Designers, New Arrivals"
    },
    {
      "type": "header",
      "content": "Header Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_desktop",
      "label": "Logo Desktop"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo Mobile"
    },
    {
      "type": "text",
      "id": "shop_name",
      "label": "Shop Name",
      "info": "Shop Name",
      "default": "GALIKO"
    },
    {
      "type": "range",
      "id": "logo_width_desktop",
      "label": "Logo Width Desktop",
      "default": 100,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "Logo Width Mobile",
      "default": 100,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Header Icons"
    },
    {
      "type": "html",
      "id": "search_icon",
      "label": "Search Icon",
      "info": "Copy Paste Search Icon SVG HTML Code"
    },
    {
      "type": "html",
      "id": "usre_icon",
      "label": "User Icon",
      "info": "Copy Paste User Icon SVG HTML Code"
    },
    {
      "type": "html",
      "id": "cart_icon",
      "label": "Cart Icon",
      "info": "Copy Paste Cart Icon SVG HTML Code"
    }
  ],
  "blocks": [
    {
      "type": "megamenu-image",
      "name": "Megamenu Image",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu Title",
          "default": "Spring Shop",
          "info": "Spring Shop, Designers, New Arrivals"
        },
        {
          "type": "header",
          "content": "First image"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "First Image"
        },
        {
          "type": "url",
          "id": "url1",
          "label": "First Image URL"
        },
        {
          "type": "header",
          "content": "Second image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Second Image"
        },
        {
          "type": "url",
          "id": "url2",
          "label": "Second Image URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Galiko Header"
    }
  ]
}
{% endschema %}
