.hs2-first-layer-ul,
.hs2-second-layer-ul,
.hs2-third-layer-ul {
  list-style: none;
}

.hs2-first-layer-li {
  box-sizing: border-box;
  padding: 0 0 0px 0;
  height: 100%;
  display: flex;
} 

.hs2-first-layer-a,
.hs2-second-layer-a,
.hs2-third-layer-a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.hs2-dropdown-wrapper li {
  position: relative;
}
.hs2-second-layer-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 300px;
  height: 100%;
  display: none;
  padding: 0;
  margin: 0;
}
.hs2-second-layer-ul,
.hs2-third-layer-ul {
  padding: 7px 0px 7px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.hs2-second-layer-li {
  position: relative;
  padding: 10px 30px;
  box-sizing: border-box;
}
.hs2-second-layer-li:not(:last-child),
.hs2-third-layer-li:not(:last-child) {
  border-bottom: 1px solid #efefef;
}
.hs2-third-layer-li {
  position: relative;
  padding: 5px 30px;
  box-sizing: border-box;
}
.hs2-third-layer-wrapper {
  position: absolute;
  left: calc(100%);
  top: 0;
  width: 300px;
  height: 100%;
  display: none;
  padding: 0;
  margin: 0;
}
.hs2-dropdown-li {
  position: relative;
}
.hs2-dropdown-li:hover .hs2-second-layer-wrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-width: max-content;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0 0px 0px;
}
.hs2-second-layer-li:hover .hs2-third-layer-wrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-width: max-content;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0 0px 0px;
}
.hs2-menu-icon-wrapper {
  display: flex;
}
.hs2-menu-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}
.hs2-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hs2-plus-icon,
.hs2-minus-icon {
  position: absolute;
  transform-origin: center;
  width: 9px;
  height: 9px;
}
.hs2-minus-icon {
  visibility: hidden;
}
.hs2-dropdown-li:hover .first-layer.hs2-plus-icon {
  visibility: hidden;
}
.hs2-dropdown-li:hover .first-layer.hs2-minus-icon {
  visibility: visible;
}
.hs2-second-layer-li:hover .second-layer.hs2-plus-icon {
  visibility: hidden;
}
.hs2-second-layer-li:hover .second-layer.hs2-minus-icon {
  visibility: visible;
}

@media (max-width: 1150px) {
  .hs2-first-layer-ul {
    gap: 30px;
  }

  .hs2-first-layer-ul li a {
    font-size: 13px;
  }
}